<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JENROSE_RICEMILL_INCOME_AND_PAYROLL_SYSTEM.Properties.Settings.jenrose_ricemill_dbaseConnectionString" connectionString="server=localhost;User Id=root;database=jenrose_ricemill_dbase" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
